.square {
  position: relative;
  width: 9vmin;
  height: 9vmin;
  display: inline-block;
  border: 0.1vmin solid black;
}

.white-square {
  background-color: white;
}

.red-square {
  background-color: red;
}

.highlighted {
  background-color: yellow;
  cursor: pointer;
}

.board-row {
  display: flex;
}

.piece {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 50%;
  border: 0.2vmin solid black;
  cursor: pointer;
  box-sizing: border-box;
}

.black-piece {
  background-color: black;
}

.white-piece {
  background-color: white;
}

.king {
  border: 1.5vmin solid orange;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.left {
  text-align: center;
  float: left;
  width: 60%;
}

.right {
  left: 20%;
  float: right;
  width: 40%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 2vmin 4vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4vmin 2vmin;
  cursor: pointer;
}

.button-disabled {
  opacity: 0.6;
}

.navbar {
  width: 100%;
  box-sizing: border-box;
  padding: 1% 12%;
  margin-bottom: 2%;
  background-color:rgb(76, 175, 175);
  display: inline-block;
  position: relative;
}

.navbar img {
  position: relative;
  float:right;
  height: 40px;
}
